.container {
  height: 100vh;
  overflow-y: auto;
  color: var(--Text);
}
.user {
  display: flex;
  justify-content: start;
  align-items: center;
}
.user > div {
  display: flex;
  flex-direction: column;
}
.product {
  /* border: 1px solid; */
  box-shadow: 1px 1px 8px;
  margin: 10px;
  width: 100vh;
  border-radius: 20px;
  background-color: rgb(247, 244, 240);
}
.tData * {
  text-align: center;
  padding: 15px;
  /* margin: 50px; */
  /* background-color: red; */
}
.table {
  width: 100%;
}
