body {
  margin: 0;
  padding: 0;
  background: #fff3e0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
}

:root {
  --primary: #ff7043;
  --secondry: #ffefd6;
  --Accent: #8bc34a;
  --Text: #4e342e;
  --CTA: #ff5722;
}
.button {
  background: linear-gradient(90deg, var(--CTA) 10%, var(--Accent) 100%);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: 8px;
  font-weight: 800;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
}
.lButton {
  background: linear-gradient(90deg, var(--CTA), var(--Accent), var(--CTA));
  background-size: 300% 100%;
  background-position: 0% 50%;
  animation: moveGradient 1s linear infinite alternate;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: 8px;
  font-weight: 800;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
}
@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
/* className={loading.BtnLoading ? "lButton" : "button"} */
.loader {
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}
.container {
  padding: 10px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error {
  text-align: center;
  color: red;
  background-color: rgba(255, 0, 0, 0.178);
  border: 1px solid red;
}
