.container {
  color: #654f4a;
  width: 98vw;
}

.head > span {
  /* margin-left: 10px; */
  font-size: 35px;
  font-weight: 800;
}
.head {
  position: sticky;
  top: 132px;
  z-index: 50;
  width: 100%;
  background-color: var(--primary);
  padding-bottom: 5px;
  border-radius: 10px;
  color: white;
}
.product {
  margin: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 20px;
  color: var(--Text);
  background-color: #fefbf8;
  color: #654f4a;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  border-radius: 10px;
}
.icon {
  background-color: var(--secondry);
  padding: 8px;
  margin: 10px;
  border-radius: 10px;
}
.img {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.img * {
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
  margin-right: 40px;
}
.inProducts {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px;
}
.pDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.bottom > span {
  margin: 8px;
}
.loader{
  margin-top: 15px;
}